.each-card {
  display: flex;
  justify-content: center;
}

.edit-card-form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.close-edit-form {
  background: none;
  border: 0px;
  margin: 0px;
  margin-bottom: 10px;
  font-size: 2rem;
}

.edit-task-title {
  font-size: 0.8rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0px;
  font-weight: 300;
}

.edit-input {
  align-content: center;
  font-size: 1rem;
  margin: 5px;
  background: none;
  text-align: left;
}
