.each-card {
  display: flex;
  justify-content: center;
}

.edit-card-form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.close-edit-form {
  background: none;
  border: 0px;
  margin: 0px;
  margin-bottom: 10px;
  font-size: 2rem;
}

.edit-task-title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0px;
}