@media only screen and (min-width: 600px) {
  .column-container {
    grid-area: main;
    padding-right: 2rem;
    padding-left: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
    grid-template-areas: 'title title title';
    background-color: white;
  }
  .column-title {
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000000;
    padding-top: 1rem;
  }
  .Queue {
    grid-area: title title title;
    padding-right: 15px;
  }
  .Progress {
    grid-area: title title title;
    padding-right: 15px;
  }
  .Done {
    grid-area: article article article;
  }
}

.column-details {
  font-family: Ovo;
}
