.header-bar {
  background: #384453;
  color: #fff;
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 7rem;
  align-items: center;
  padding: 5px;
}

.header-bar button {
  background-color: #ffffff;
  border: 1px solid #24315e;
  color: #24315e;
  padding: 7px;
  font-family: Montserrat;
  letter-spacing: 1px;
  font-size: 1rem;
}

.header-bar button:hover {
  background-color: #24315e;
  color: #ffff;
  transition: 0.4s ease;
}