@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');
@import '../../stylesheets/components/_all.css';
@import '../CardForm/CardForm.css';
@import '../KanbanCard/KanbanCard.css';

body {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 1rem;
}

@media only screen and (min-width: 500px) {

  .main-grid {
  display: grid;
  width: 100%;

  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 1rem;

  grid-template-areas: "header"
                       "main"
                       "footer";
}

.main-grid div {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 1rem;
}
}


button {
  height: 2rem;
}

.column-title {
  margin: 0px;
  font-weight: 500;
  line-height: 1.5rem;

}

.column-details {
  margin: 0px;
  line-height: 1.5rem;
}

input, select {
  height: 2rem;
  margin: 1rem;
  border: 0px;
  border-bottom: 1px solid black;
  background: none;
}

.edit-input {
  font-family: Montserrat;
  font-size: 1rem;
  background-color: #ffffff;
  text-align: center;
}

.save-button, .delete-button {
  background-color: white;
  font-family: Montserrat;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 400;
  border: 0px;
}